.container{
    position: fixed;
    gap: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    justify-self: flex-start;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

.content:hover {
    transition: 500ms;
    text-shadow: 0 0 10px white;
    transform: translateY(-10px);
}

.imgDiv {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.link{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}